<h2>{{model.name}}</h2><br>

{{model.name}} is located in {{model.location}}.

<br><br>
{{model.description}}

<br><br>
{{new-comment saveComment="saveComment" bootcamp=model}}

<br>
<ul>
  {{#each model.comments as |comment|}}
  {{comment-tile comment=comment}}
  {{/each}}
</ul>
